<% provide(:title, "Log in") %>
<div class ="container list-group">

  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <a class = "list-group-item">
            <h1 class="text-center">Log in</h1>
      <%= form_for(:session, url: login_path) do |f| %>

        
        <br><%= f.email_field :email, :placeholder => "email", class: 'form-control' %><br>

        
        <%= f.password_field :password, :placeholder => "password", class: 'form-control'  %><br>
      </a>
        <%= f.submit "Log in", class: "btn btn-primary form-control" %>
      
       
        
      <% end %>
      <%= button_to "Sign up", signup_path, class: "btn btn-primary form-control", :method => "get" %>
      
    
    </div>

  </div>
</div>