<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>

<table>
  <thead>
    <tr>
      <th>Distance</th>
      <th>Inittime</th>
      <th>Endtime</th>
      <th>Rundate</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.distance %></td>
        <td><%= run.initTime %></td>
        <td><%= run.endTime %></td>
        <td><%= run.runDate %></td>
        <td><%= run.user %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
